<nav class="sticky-top">
    <a href="/mylibrary" class="nav">Back to Your Library</a>
    <a href="/mylibrary/new" class="nav">Add a Book to Your Collection</a>
    <a href="/" class="nav">About</a>
    <a href="/users/signin" class="nav">Sign In</a>
    <a href="/users/signout" class="nav">Sign Out</a>
</nav>