<%- include('./partials/header.ejs') %>
<title>About MyLibrary</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
    <h1 id="about-h1">Welcome to the MyLibrary App!</h1>
        <p id="about">If you're an avid reader like I am then you probably have a lot of books sitting on your shelves at home. With over 200 books in my library I found it hard to keep track of which books I've read, if I liked them or not, and if I leant them out to any of my friends. I created this app as a simple solution to catalogue all of your books and track all the relevant information. Simply <a href="/users/signup">create an account</a>, or <a href="/users/signin">log in</a> if you have one already, and upload the necessary information to create your own digital library.</p>
</body>
</html>
