<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library Home Page</title>
</head>
<body>
    <h1>Here is Your Library</h1>
    <ul>
        <% for(let i = 0; i < allBooks.length; i++) { %>
            <li>
                <a href="/mylibrary/<%=allBooks[i].id%>">
                    <%=allBooks[i].title%>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>