/* ----- Body Styles ----- */
body{
    font-family: 'Jura', sans-serif;
}

/* ----- Navbar Styles ----- */
nav{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: #1B4353 ;
    height: 5em;
}

.nav{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav:hover{
    color: #77A6B6;
}

/* ----- Add New Book Page Styles ----- */
#starRating{
    width:25em;
}

#new-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #77A6B6;
    border-radius: 1em;
    width: 50%;
    margin-left: 22em;
    padding: 10px;
}

.input-group{
    width: 25em;
}

#add-book-btn{
    background-color: #1B4353;
    color: white;
}

#new-book-h1{
    text-align: center;
    margin-top: 10px;
}

/* ----- Sign In Page Styles ----- */
#sign-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #77A6B6;
    border-radius: 1em;
    width: 50%;
    margin-left: 22em;
    padding: 10px;
}

#sign-in-btn{
    background-color: #1B4353;
    color: white;
    margin: 5px 0px 5px 0px;
}

#sign-in-h1{
    text-align: center;
    margin-top:10px;
}

.form-margin{
    margin:5px;
}

/* ----- Sign Up Page Style ----- */
#sign-up-h1{
    text-align: center;
}

#sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #77A6B6;
    border-radius: 1em;
    width: 50%;
    margin-left: 22em;
    padding: 10px;
}

#sign-up-btn{
    background-color: #1B4353;
    color: white;
    margin: 5px 0px 5px 0px;
}

/* ----- Index Page Styling ----- */
#index-h1{
    text-align: center;
    padding: 20px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li{
    width:18rem;
    margin-bottom: 2em;
    display: flex;
    background-image: url(https://i.imgur.com/oQX6c7A.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card-link{
    text-align: center;
    text-decoration: none;
    color: #113435;
}

h6{
    font-size: .8em;
}

/* ----- Show Page Style ----- */
#book-cover{
    background-image: url(https://i.imgur.com/oQX6c7A.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    margin-left: 10em;
    display:inline;
    border: 5px solid #113435;
}

#book-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10em;
    margin-left: 3em;
    font-size: 1.5em;
}

#info{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

#btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20em;
    margin-left: 50em;
}

#edit-btn, #delete-btn{
    background-color: #1B4353;
    color: white;
    margin: 5px 0px 5px 0px;
}

/* ----- Edit Page Styling ----- */
#edit-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #77A6B6;
    border-radius: 1em;
    width: 50%;
    margin-left: 22em;
    padding: 10px;
}

#edit-h1{
    text-align: center;
}

/* ----- About Page Styling ----- */
#about-h1{
    text-align: center;
    margin-top: 30px;
}

#about{
    width: 40em;
    text-align: center;
    font-size: 1.5em;
    margin-left: 9em;
    margin-top: 50px;
}