/* Body Styles */
body{
    font-family: 'Jura', sans-serif;
}

/* Navbar Styles */
nav{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: #1B4353 ;
    height: 5em;
}

.nav{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav:hover{
    color: #77A6B6;
}

/* Add New Book Page Styles*/
#starRating{
    width:25em;
}

#new-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #77A6B6;
    border-radius: 1em;
    width: 50%;
    margin-left: 22em;
    padding: 10px;
}

.input-group{
    width: 25em;
}

.add-book-input{
    margin: 5px;
}

#add-book-btn{
    background-color: #1B4353;
    color: white;
}

#new-book-h1{
    text-align: center;
    margin-top: 10px;
}

/* Sign In Page Styles*/
#sign-in-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #77A6B6;
    border-radius: 1em;
    width: 50%;
    margin-left: 22em;
    padding: 10px;
}

#sign-in-btn{
    background-color: #1B4353;
    color: white;
    margin: 5px 0px 5px 0px;
}

#sign-in-h1{
    text-align: center;
    margin-top:10px;
}

.sign-in-input{
    margin:5px;
}
