<%- include('../partials/header.ejs') %>
    <h1 id="sign-in-h1">Sign In</h1>
    <form action="/users/signin" method="POST" id="sign-in-form">
        <fieldset class="input-group form-margin">
            <span class="input-group-text">Email</span>
            <label for="email"></label>
            <input type="email" name="email" id="email" class="form-control"/>
        </fieldset>
        <fieldset class="input-group form-margin">
            <span class="input-group-text">Password</span>
            <label for="password"></label>
            <input type="password" name="password" id="password"  class="form-control"/>
        </fieldset>
        <input type="submit" value="Sign In!" id="sign-in-btn" class="btn">
        <p>
            Dont have an account? <a href="/users/signup">Sign Up Here!</a>
        </p>
    </form>
    
</body>
</html>